# Python
.venv/
__pycache__/
*.pyc

# Data and outputs
data/raw_videos/
data/processed/
data/annotations/
outputs/
models/
results/

# Model weights
*.pt
*.pth
*.onnx

# OS/editor
.vscode/
.DS_Store
Thumbs.db